* {
    margin: 0;
    padding: 0;
    box-sizing: border;
}


.col-1,
.col-2,
.col-3,
.col-4, 
.col-5 {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.col-1-width,
.col-2-width,
.col-3-width,
.col-4-width,
.col-width {
    width: 60%;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Column One */
.col-1 {
    background-color: rgb(9, 36, 75);
    color: white;
}

.col-1-width {
    display: flex;
    flex-direction: column;
}

.col-1-width .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    margin-top: 10px;
    gap: 20px;    
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.intro-title {
    font-size: 35px;
    font-weight: bold;
}

.intro-description {
    font-size: 18px;
    margin: 20px 0;
}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 300px;
    flex: 1 1 0;
}

button {
    padding: 15px;
    color: white;
    background-color: rgb(0, 61, 0);
    border-radius: 10px;
    font-size: 17px;
}


/* ------- */


a {
    text-decoration: none;
}


#logo-link {
    height: 100%;
}

#logo {
    max-height: 100%;
    border: none;
}

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

a:link {color: lightblue;}  
a:visited {color: lightblue}  
a:hover {color: white}  
a:active {color: #C0F0FC}  

img {
    border-radius: 20px;
    border: 3px solid;
}

.intro img {
    border: 3px solid white;
    flex: 0 1 auto;
}

/* Column 2 */

.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.info-img {
    width: 280px;
}

.info-img img {
    object-fit: cover;
    height: 274px;
    width: 274px;
    border-color: rgb(0, 61, 0);
}


.col-2-width .header {
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 61, 0);
    margin-bottom: 30px;
}

.info-img div {
    font-weight: bold;
    color: rgb(0, 61, 0);
    margin-top: 10px;
}

/* Column 3 */

.col-3 {
    background-color: rgb(0, 61, 0);
}

.col-3-width .quote {
    color: white;
    font-size: 30px;
    font-style: italic;
    padding: 50px 0;
}

.quote div {
    text-align: right;
    color: black;
    font-weight: bold;
}

/*column 4*/

.col-4-width {
    background-color: rgb(123, 184, 254);
    border-radius: 20px;

}

#sign-up-title {
    font-size: 25px;
    font-weight: bold;
}

#sign-up {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

#sign-up-info {
    display: flex;
    align-items: left;
    flex-direction: column;
    color: white;
}


/* Begin Column 5 */

.col-5 {
    background-color :rgb(9, 36, 75);
}

#footer {
    color: white;
    text-align: center;
    font-size: 10px;
}

/* End Column 5 */
